<html>
  <head>
    <title>Dining Options</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/stylesMenus.css"/>
  </head>
  <body>
    <h1 align="center">Dining Options</h1>
    <div class = "main-body" align="center">
      <ul id ="options">
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/accenture-cafe/">Accenture Cafe </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/1920-commons/">1920 Commons </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/hill-house/">Hill House </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/kings-court-english-house/">English House </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/new-college-house/">New College House </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/mcclelland/">McClelland </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/falk-dining-commons/">Falk at Penn Hillel </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/houston-market/">Houston Market </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/joes-cafe/">Joe's Cafe </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/marks-cafe/">Mark's Cafe </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/tortas-frontera-at-the-arch/">Tortas Frontera </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/pret-a-manger-lower/">Pret a Manger </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/nch-retail/">New College House Retail </a></li>
        <li><a href = "https://university-of-pennsylvania.cafebonappetit.com/cafe/1920-gourmet-grocer/">Gourmet Grocer </a></li>
      </ul>
      <a class="btn" href="/"> Go Back to Home Page </a>
    </div>
  </body>
</html>
