<html>
  <head>
    <title>Sign up page</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/stylesSignup.css"/>
  </head>
  <body>
    <h1 align="center">Sign up</h1>
    <form method="POST" align="center">
      Username: <br/>
      <input type="text" name="username"/> <br/>
      Password: <br/>
      <input type="password" name="password"/> <br/>
      Initial Amount: <br/>
      <input type="number" name="money"/> <br/> <br>
      <button type="submit" align="center">Sign up</button>
    </form>
  </body>
</html>
